
.mermaid {
  background: white;
}

.mermaid svg {
    margin: 0 auto;
    padding: 40px 0;
    display:table;
}


.markdown-section {
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.markdown-section a.anchor:hover,
.sidebar-nav a:hover {
    text-decoration: none;
    color: #ffffffad;
    transition: all 0.2s;
    /* Firefox 4 */
    -webkit-transition: all 0.2s;
    /* Safari 和 Chrome */
    -o-transition: all 0.2s;
    /* Opera */
}

::selection,
::-moz-selection {
    background: #9aa2b121;
}

#qemu,
#comment_qemu {
    font-family: Garamond, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.firstnav {
    font-size: 20px;
}

.naven {
    font-size: 16px;
}

.naven, .firstnav {
    font-family: Garamond, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.navcn {
    font-size: 18px;
    font-family: 'STHeiti Light', 'STHeiti', 'SimHei', 'SimSun', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.sidebar {
    padding-top: 0;
}

.search {
    margin-bottom: 20px;
    padding: 6px;
    border-bottom: 1px solid #eee;
}

.search .input-wrap {
    display: flex;
    align-items: center;
}

.search .results-panel {
    display: none;
}

.search .results-panel.show {
    display: block;
}

.search input {
    outline: none;
    border: none;
    width: 100%;
    padding: 0 7px;
    line-height: 36px;
    font-size: 14px;
}

.search input::-webkit-search-decoration,
.search input::-webkit-search-cancel-button,
.search input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search .clear-button {
    width: 36px;
    text-align: right;
    display: none;
}

.search .clear-button.show {
    display: block;
}

.search .clear-button svg {
    transform: scale(.5);
}

.search h2 {
    font-size: 17px;
    margin: 10px 0;
}

.search a {
    text-decoration: none;
    color: inherit;
}

.search .matching-post {
    border-bottom: 1px solid #eee;
}

.search .matching-post:last-child {
    border-bottom: 0;
}

.search p {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.search p.empty {
    text-align: center;
}

.app-name.hide,
.sidebar-nav.hide {
    display: none;
}